* {
    color: #37474f;
    /*font-family: 'Kanit', sans-serif;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url(/img/light-grey-terrazzo-compressor.png);
}

.pagetitle {
    font-size: 2rem;
    text-align: center;
    padding: 0px;
}

.containerBarButton {
    text-align: center;
    width: 100%;
}

.searchBar {
    width: 50%;
    font-size: 1rem;
    color: #546e7a;
    margin: 20px;
    background-color: #eeeeee;
    align-items: center;
    border-bottom: 0.1em solid #AFAFAF;
    border-radius: 2px;
    padding: 10px;
    border-style: none;
}

.button {
    font-size: 1rem;
    color: #546e7a;
    background-color: #eeeeee;
    border-radius: 2px;
    cursor: pointer;
    padding-bottom: 5px;
    transition: all linear 0.5s;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-right: 1rem;
}

.beer {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 0.25rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.beer h3 {
    text-align: center;
}

.beer img {
    height: 12rem;
    display: block;
    margin: auto;
    cursor: pointer;
}

span {
    font-size: 1rem;
    margin-right: 0.5rem;
    text-align: end;
}

button {
    cursor: pointer;
}

@media (max-width: 567px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .button {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 567px) and (max-width: 768px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .button {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}